<div>
    <input type="checkbox" id="active_zikulapagesmodule" name="active[ZikulaPagesModule]" value="1" {% if active %}checked="checked"{% endif %} />
    <label for="active_zikulapagesmodule">{{ __('Pages') }}{# domain='module_pages' #}</label>
</div>