<div class="form-group">
    <label class="col-sm-3 control-label" for="pages_numitems">{{ __('Number of pages to display') }}{# domain='module_pages' #}</label>
    <div class="col-sm-9">
        <input id="pages_numitems" type="text" class="form-control" name="numitems" value="{{ numitems }}" maxlength="5" />
    </div>
</div>