<ul class="pages-list">
    {% for page in pages %}
        <li>
            {% if page.url is not empty %}
                <a href="{{ page.url }}">{{ page.title|notifyFilters('pages.filter_hooks.pages.filter')|safeHtml }}</a>
            {% else %}
                {{ page.title|notifyFilters('pages.filter_hooks.pages.filter')|safeHtml }}
            {% endif %}
        </li>
    {% endfor %}
</ul>